{% extends 'base.html' %}
{% block content %}
<h1>Insert a new favorite place</h1>

<form action="{{ url_for('submit_data') }}" method=post>
    <label for="name">Name*:</label>
    <br>
    <input type="text" name="name" placeholder="Name of the favorite place"
           value="{{ request.form['name'] }}">
    <br> <br>
    <label for="description">Description</label>
    <br>
    <textarea name="description" placeholder="Describe the favorite place"
              rows="15" cols="30"
              value="{{ request.form['description'] }}"></textarea>
    <br><br>

    <label for="link">Description Link:</label>
    <br>
    <input type="text" name="link"
           placeholder="Insert a link" value="{{ request.form['link'] }}">
    <br> <br>
    <br> <br>

    <label for="category">Category*:</label>
    <select name="category">{% for c in categories %}
    <OPTION value={{c[0]}}>{{c[1]}}</option>
    {% endfor %}
    </select>
    <br> <br>

    <label for="rating">Rating:  </label>
    <select name="rating">{% for r in range(1, 4) %}
    <option value={{r}}>{{r}}</option>
    {% endfor %}
    </select>
    <br> <br>

    <label for="visited">Already visited (1 for yes, 0 for no)?</label>
    <select name="visited">{% for r in range(2) %}
        <option value={{r}}>{{r}}</option>
    {% endfor %}
    </select>
    <br><br>

    <label for="access_distance">Access distance:</label>
    <input type="text" name="access_distance"
           placeholder="Distance to nearest parking area" value="{{
            request.form['access_distance']
            }}">
    <br> <br>

    <label for="country_code">Country code*:</label>
    <input type="text" name="country_code"
           placeholder="country code" value="{{ request.form['country_code']
            }}">
    <br> <br>

    <label for="region">Region:</label>
    <input type="text" name="region"
           placeholder="region" value="{{ request.form['region']
            }}">
    <br> <br>

    <label for="location">Location in decimal degrees, separated by a comma
        (e.g. 55.70968740504555, 12.495208156145383)*:</label>
    <input type="text" name="location"
           placeholder="location" value="{{ request.form['location']
            }}">
    <br> <br>
    <input type=submit value=Save>
    </form>

<p></p>
<p><a href="{{ url_for('index') }}">Go back to the front page</a> </p>

{% endblock %}