{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} {{ favorite_place[1] }} {% endblock %}</h1>
    <p><a href="/" target="_parent">Back to front page</a></p>
    <p><b>Category:</b> {{ favorite_place[3] }}. <b>Region/country:</b> {{
        favorite_place[9] }}/{{ favorite_place[8] }}.  <b>Distance to parking:</b> {{ favorite_place[5] }} <b>meters.  Rating:</b>{{
        favorite_place[6] }}. <b>Visited:</b> {{ favorite_place[7] }}.</p>
<p></p>
    <p><i>{{ favorite_place[2] }}</i></p>
<p></p>
    <p>Link: <a href="https://{{ favorite_place[4] }}" target="_blank">{{ favorite_place[4] }}</a></p>
    <p>Coordinates: {{ favorite_place[-2] }} {{ favorite_place[-1] }}</p>
    <p>{{ iframe | safe }} </p>
<p></p>
{% endblock %}
